<% include ../templates/header.html %>

<body>
	<div class="container">
		<div class="page-header">
			<h3>招商银行</h3>
		</div>
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="javascript:void(0);" onclick="javascript:showAllCmbActivities();">所有活动</a>
					</li>
					<li>
						<a href="#">活动类型</a>
					</li>
					<li>
						<a href="#">商圈</a>
					</li>
					<li>
						<a href="#">商家</a>
					</li>
					<li>
						<a href="#">抓取</a>
					</li>
					<li class="divider"><hr></li>
					<li>
						<a href="/">返回首页</a>
					</li>
				</ul>
			</div>
			<div class="col-md-9" id="cmb_content">
				
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	function showAllCmbActivities(){
		
	}
</script>

<% include ../templates/footer.html %>