<% include ./templates/header.html %>

<style type="text/css">
	img.cmb{
		width: 125px;
		height: 115px;
		background: url('/images/banklogo.png') -140px -70px
	}
</style>


<body>
  <div class="container">
  	<div class="page-header">
  		<h1><%= title%></h1>
  	</div>
  	<div class="row">
  		<div class="col-md-4">
  			<a href="/banks/cmb"><img class="cmb" src=""/></a>
  		</div>
  	</div>
  </div>
</body>

<script type="text/javascript">
  socket.on('log', function(data){
    //alert(data.message);
  });

  socket.on('feedback', function(data){
  	alert(data.pageNum);
  });

  function crawlcmb(){
    socket.emit('startCrawling', {target:'cmb'});
  }
</script>

<% include ./templates/footer.html %>
