<% include ./templates/header.html %>

<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapValidator.min.css">
<style type="text/css">
	img.cmb{
		width: 125px;
		height: 115px;
		background: url('/images/banklogo.png') -140px -70px
	}
</style>


<body>
  <div class="container">
  	<div class="page-header">
  		<h3><%= title%></h3>
  	</div>
  	<div class="row">
  		<div class="col-md-3">
  			<a href="/banks/cmb"><img class="cmb" src=""/></a>
  		</div>
  	</div>
    <hr>
    <div class="row">
      <button class="btn btn-lg btn-primary center-block" data-toggle="modal" data-target="#newBankModal">添加银行</button>
    </div>
  </div>

  <div class="modal fade" id="newBankModal" tabindex="-1" role="dialog" aria-labelledby="newBankLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
          </button>
          <h4 class="modal-title">新增银行</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form" id="newBankForm">
            <div class="form-group">
              <label class="col-md-4 control-label" for="bankName">
                银行名称
              </label>
              <div class="col-md-6">
                <input class="form-control" id="bankName" type="text" name="bankName">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-4 control-label" for="bankCode">
                银行代码
              </label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="bankCode" name="bankCode">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" id="saveNewBank">保存</button>
                <button type="button" class="btn btn-default" id="resetButton">重置</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<%include ./templates/scripts.html %>
<script type="text/javascript" src="/javascripts/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/javascripts/language/zh_CN.js"></script>
<script type="text/javascript" src="/plugins/layer/layer.min.js"></script>

<script type="text/javascript">

  var validator = null;
  $(document).ready(function(){
    validator = $('#newBankForm').bootstrapValidator({
      message: "输入有误",
      excluded:':disabled',
      live: 'enabled',
      trigger: null,
      feedbackIcons: {
        valid: 'glyphicon glyphicon-ok',
        invalid: 'glyphicon glyphicon-remove',
        validating: 'glyphicon glyphicon-refresh'
      },
      fields:{
        bankName: {
          message: "银行名称输入有误",
          trigger: 'blur',
          validators:{
            notEmpty: {
              message: "银行名称不能为空"
            },
            remote: {
              message: "该银行名称已存在",
              url :'/banks/check',
              data: {
                checkField : 'name'
              }
            }
          }
        },
        bankCode: {
          message: "银行编码输入有误",
          trigger: 'blur',
          validators:{
            notEmpty:{
              message: "银行编码不能为空"
            },
            remote: {
              message: "该银行编码已存在",
              url :'/banks/check',
              data: {
                checkField : 'code'
              }
            }
          }
        }
      },
      submitHandler: function(validator, form, submitButton){
        $.ajax({
          url: '/banks',
          type: 'POST',
          success: function(data){
            if(data.status === 'failed'){
              
            }
          },
          error: function(a, b, c){

          }
        });
      }

    });
  });

  $('#resetButton').on('click', function(){
    $('#newBankForm').data('bootstrapValidator').resetForm(true);
  });

</script>

<% include ./templates/footer.html %>
